rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /{document=**} {
      allow read;
      allow write: if isAdmin();
      allow create: if request.auth != null;
      allow delete: if isPostOwner();
      allow update: if isPostOwner() &&
      request.resource.data.url == resource.data.url;

      function isPostOwner() {
          return resource.data.userId == request.auth.uid;
      }
      
      function isAdmin() {
        return request.auth.uid == "ADMIN";
      }
      
    }
  }
}