.details-content{
  background-color: white;
  padding: 1em 4em;
  display: flex;
  flex-direction: column;
  width: 50vw;
  height: 50vh;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}

.details-content-container {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.details-content button {
  width: 20em;
  margin: .5em;
}

h2, h3 {
  margin: .2em;
  text-align: left !important;
}