.login-content{
  background-color: white;
  padding: 4em 4em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 30px red;
  width: 30vw;
  height: 50vh;
}

.login-content-container {
  position: fixed;
  top: 40%;
  left: 35%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

input {
  margin: .2em;
  border: 1px solid red;
  border-radius: .1em;
}

/* button {
  margin: .2em;
} */