.btn__social--list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.btn__social {
  width: 150px;
}

.btn--facebook {
  background-color: transparent;
  color: rgb(0, 123, 255);
  border:0px solid transparent;
  padding: 0;
}

.btn-home {
  color: red;
  background-color: white;
  font-family: 'Times New Roman', Times, serif;
}

.email-login-content {
  background-color: transparent;
}


.btn--twitter {
  background-color: rgb(81, 158, 230);
  border:0px solid transparent;
  padding: 0;
}

.btn--email {
  background-color: white;
  border:0px solid transparent;
}

/* #55acee; twitter blue */

/* .btn--twitter:hover {
  background-color: rgb(67, 158, 228);
} */

