.btn__social--list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.btn__social {
  width: 150px;
}

.btn--facebook {
  background-color: white;
  border:0px solid transparent;
}


.btn--twitter {
  background-color: white;
  border:0px solid transparent;
}

.btn--email {
  background-color: white;
  border:0px solid transparent;
}

/* #55acee; twitter blue */

/* .btn--twitter:hover {
  background-color: rgb(67, 158, 228);
} */

